*{
    margin: 0;
    padding: 0;
}
h1{
    font-family: Verdana, Tahoma, sans-serif;
}
div{
    display: flex;
}
input{
    display: flex;
    flex-direction: column;
    margin: 15px;
}
label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}