
div{
    width: 1000px;
    height: 500px;
    /* background-color: #ffffff; */
    border: 3px solid #000000;
    background-image: url(1656065881_16-mykaleidoscope-ru-p-roza-na-nozhke-krasivo-foto-20.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}