div{
    width: 100px;
    height: 30px;
    margin: 50px auto;
    background: #000;
    color: darkred;
    text-align: center;
    /* transition-property: color, background-color;
    transition-duration: 0.5s, 0.8s; */
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

div:hover{
    background: darkred;
    color: #000;
    /* transition-property: color, background-color;
    transition-duration: 0.5s, 0.8s; */
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition-delay: 0s;
}

.element1:hover{
    background: darkred;
    color: #000;
    /* transition-property: color, background-color;
    transition-duration: 0.5s, 0.8s; */
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition-delay: 2s;
}

.element2:hover{
    background: darkred;
    color: #000;
    /* transition-property: color, background-color;
    transition-duration: 0.5s, 0.8s; */
    /* transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition-delay: 5s; */
    transition: all 0.5s linear 2s;
}